<div class="row">
  <div class="span12">
    <p>These text areas are on the same page. You can also <a target="_blank" href="#">open them on separate users'
      browsers</a> and they will remain synchronized.
    </p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <textarea id="editor1" rows="15" cols="50" disabled="true"></textarea>
  </div>
  <div class="span4">
    <textarea id="editor2" rows="15" cols="50" disabled="true"></textarea>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Collaborators</h3>
      <ul id="collaborators" class="list-unstyled">
        <li data-ng-repeat="collaborator in data.collaborators">
          <i class="icon-user" style="color:{{collaborator.color}}"></i>{{collaborator.displayName}}<span data-ng-show="collaborator.isMe"> (you)</span>
        </li>
      </ul>
    </div>
  </div>
</div>